*{
    box-sizing: border-box;
}
:root{
    --font: "Sora", sans-serif;
    --main-color:#10375C;
    --text-color-1:#C9D2DA;
    --text-color-2:#575F66;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    border-radius: 22px;
    color: #FFFFFF;
    background: #2E80CE;
    border: 1px solid #2E80CE;;
    min-height: 44px;
}
.button-outline{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    border-radius: 22px;
    color: #2E80CE;;
    background: transparent;
    border: 1px solid #2E80CE;;
    min-height: 44px;
}
body{
    font-family: var(--font);
    font-size: 1.6rem;
    line-height: 1.4;
}
/* Navbar */
.header{
    background-color: var(--main-color);
    min-height: 100vh;
    padding-top: 36px;
    padding-bottom: 110px;
}
.header-top{
    display: flex;
    align-items: center;

}
.logo{
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}
.logo__circle::before,
.logo__circle::after{
    content:"";
    border-radius: 50%;
    display: inline-block;
}
.logo__circle::before{
    background-color: #2E80CE;
    width: 3em;
    height: 3em;
}
.logo__circle::after{
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    background-color: #FFFFFF;
    width: 1.6em;
    height: 1.6em;
}
.logo__text{
    color: #FFFFFF;
    margin-left: 6px;
    text-align: right;
    line-height: 1.6em;
}
.logo__brand{
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}
.logo__brand--small{
    font-size: 1.2em;
    font-weight: 300;
}
.navbar__list{
    display: inline-flex;
    gap: 42px;
    margin-left: 318px;
}
.navbar__item a{
    color: var(--text-color-1);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}
.inner-buttons{
    display: inline-flex;
    align-items: center;
    gap: 28px;
    margin-left: auto;
}
.inner-buttons__text{
    color: var(--text-color-1);
    font-size: 16px;
    font-weight: 300;
}
/* Hero */
.hero{
    display: flex;
    margin-top: 83px;
}
.hero__heading{
    color: #FFF;
    font-size: 70px;
    font-weight: 600;
}
.hero__content{
    width: 45%;
}
.hero__media{
    width: 55%;
}
.hero__desc{
    color: var(--text-color-1);
    margin-top: 22px;
    font-size: 18px;
    font-weight: 300;
}
.hero__media{
    text-align: right;
}
.hero__phone{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}
.hero__row{
    margin-top: 38px;
}
.hero__phone{
    margin-left:38px;
}
.hero__image{
    display: inline-flex;
    gap:-6px;
}
/* Service */
.section-heading{
    color: var(--main-color);
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.service{
    padding: 170px 0;
}
.service-row{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}
.service__list{
    margin-top: 30px;
}
.section-desc{
    margin: 0 auto;
    margin-top:18x;
    width: 468px;
    color: var(--text-color-2);
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.service__info{
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
}
.service__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-color: #EFF6FD;
}
.service__text{
    color: var(--text-color-2);
    font-size: 16px;
    font-weight: 300;
    margin-top: 6px;
}
.service__item{
    display: flex;
    align-items: center;
    width: 470px;
    gap:19px;
    border-radius: 10px;
    padding: 21px 18px 20px 22px;
    background: #FFF;
}
.service__button{
    margin-top: 55px;
    width: 205px;
    height: 60px;
    border-radius: 30px;
}