*{
    box-sizing: border-box;
}
:root{
    --font: "Sora", sans-serif;
    --main-color:#10375C;
    --text-color-1:#C9D2DA;
    --text-color-2:#575F66;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    border-radius: 22px;
    color: #FFFFFF;
    background: #2E80CE;
    border: 1px solid #2E80CE;;
}
.button-outline{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    border-radius: 22px;
    color: #2E80CE;;
    background: transparent;
    border: 1px solid #2E80CE;;
}
body{
    font-family: var(--font);
    font-size: 1.6rem;
    line-height: 1.4;
}
/* Navbar */
.header{
    background-color: var(--main-color);
    min-height: 100vh;
    padding-top: 36px;
    padding-bottom: 110px;
}
.header-top{
    display: flex;
    align-items: center;

}
.logo{
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}
.logo__circle::before,
.logo__circle::after{
    content:"";
    border-radius: 50%;
    display: inline-block;
}
.logo__circle::before{
    background-color: #2E80CE;
    width: 3em;
    height: 3em;
}
.logo__circle::after{
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    background-color: #FFFFFF;
    width: 1.6em;
    height: 1.6em;
}
.logo__text{
    color: #FFFFFF;
    margin-left: 6px;
    text-align: right;
    line-height: 1.6em;
}
.logo__brand{
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}
.logo__brand--small{
    font-size: 1.2em;
    font-weight: 300;
}
.navbar__list{
    display: inline-flex;
    gap: 42px;
    margin-left: 318px;
}
.navbar__item a{
    color: var(--text-color-1);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}
.inner-buttons{
    display: inline-flex;
    align-items: center;
    gap: 28px;
    margin-left: auto;
}
.inner-buttons__text{
    color: var(--text-color-1);
    font-size: 16px;
    font-weight: 300;
}
/* Hero */
.hero{
    display: flex;
    margin-top: 83px;
}
.hero__heading{
    color: #FFF;
    font-size: 70px;
    font-weight: 600;
}
.hero__content{
    width: 45%;
}
.hero__media{
    flex-grow: 1;
    text-align: right;
}
.hero__desc{
    color: var(--text-color-1);
    margin-top: 22px;
    font-size: 18px;
    font-weight: 300;
}
.hero__phone{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}
.hero__row{
    margin-top: 38px;
}
.hero__phone{
    margin-left:38px;
}
.hero__image{
    display: inline-flex;
    align-items: center;
}
.hero__image img{
    border-radius: 6px;
    object-fit: cover;
    width: 330px;
    height: 540px;
}
.hero__image img:first-child{
    margin-right: -6px;
    position: relative;
}
.hero__image img:last-child{
    width: 210px;
    height: 410px;
}
/* Service */
.section-heading{
    color: var(--main-color);
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.service{
    padding: 170px 0;
}
.service-row{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}
.service__image img{
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}
.service__list{
    margin-top: 30px;
}
.section-desc{
    margin: 0 auto;
    margin-top:18x;
    width: 468px;
    color: var(--text-color-2);
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.service__info{
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
}
.service__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-color: #EFF6FD;
}
.service__text{
    color: var(--text-color-2);
    font-size: 16px;
    font-weight: 300;
    margin-top: 6px;
}
.service__item{
    display: flex;
    align-items: center;
    width: 470px;
    gap:19px;
    border-radius: 10px;
    padding: 21px 18px 20px 22px;
    background: #FFF;
}
.service__button{
    margin-top: 55px;
    width: 205px;
    height: 60px;
    border-radius: 30px;
}
/* Work */
.work{
    background: #F6FBFF;
    padding: 100px 0;
}
.work-title__heading{
    color: var(--main-color);
    font-size: 50px;
    font-weight: 600;
}
.work-title__desc{
    color: var(--text-color-2);
    width: 468px;
    font-size: 18px;
    font-weight: 300;
    margin-top : 18px;
}
.work-list__title{
    color: var(--main-color);
    font-size: 26px;
    font-weight: 600;
    margin-top: 18px;
}
.work-list__sub-title{
    color: var(--text-color-2);
    font-size: 16px;
    font-weight: 300;
    margin-top:28px;
}
.work-list{
    margin-top: 86px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.work-list__item{
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    padding: 42px;
    background: #FFF;
}
.work-list__link{
    display: inline-block;
    margin-top: 18px;
    color: var(--text-color-2);
    font-size: 16px;
    font-weight: 300;
}
/* Features */
.features{
    padding: 170px 0 85px 0;
}
.features__image{
    position: relative;
    padding-right: 58px;
    padding-bottom: 121px;
}
.features__media{
    width: 48%;
}
.features-row{
    display: flex;
    column-gap: 130px;
}
.features-heading{
    color: var(--main-color);
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
}
.features-desc{
    margin-top: 18px;
    color: var(--text-color-2);
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.features-button{
    margin-top: 38px;
}
.features-img{
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}
.features__content{
    margin-top: 82px;
}
.features-img:last-child{
    position: absolute;
    bottom:0;
    right: 0;
    width: 332px;
    height: 370px;
}
/* Member */
.member{
    padding: 85px 0;
}
.member-heading{
    color: var(--main-color);
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px; /* 120% */
}
.member-info{
    /* width: calc((100% - 60px) / 4); */
    /* Nếu sử dụng display: flex; */
    /* box-shadow: 0px 4px 28px -2px #00000014; */
    border-radius: 8px;
    background-color: #FDFDFD;
    padding-bottom: 20px;
    /* padding: 8px 8px 20px 8px; */
}
.member-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 72px;
    column-gap: 30px;
}
.member__image{
    display: block; 
    max-width: 100%;
    object-fit: cover;
    height: 290px;
    border-radius: 6px;
    transition: 0.25s;
}
.member__img{
    overflow: hidden;
    padding-top: 28px;
    border-radius: 6px;
    background: #EAF6FF;
}
.member__name{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 28px; /* 175% */
}
.member__desc{
    color: var(--text-color-2);
    white-space: nowrap;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 26px; 
}
.member__box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member-info__title{
    padding: 12px 18px 0 18px;
}
.member-button{
   margin-top: 38px;
   padding: 15px 27px;
   border-radius: 30px;
}
.small-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    outline: none;
    background-color: #FFF;
    transition: 0.25s;
    border: 1px solid var(--text-color-2);
}
.member__navigation{
    margin-top: 38px;
    display: flex;
    column-gap : 18px;
    justify-content: center;
}
.small-button:hover svg path{
    stroke: white;
}
.small-button:hover{
    cursor: pointer;
    background-color: #2E80CE;
    border-color: #2E80CE;
}
.member__img:hover .member__image{
    transform: scale(1.1);
}
/* Install app */
.install{
    padding: 85px 0;
}
.app-content__heading{
    color: #FFF;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px; /* 120% */
}
.install-row{
    display: flex;
    background-color: #2E80CE;
    position: relative;
    border-radius: 6px;
}
.app-content__desc{
    margin-top: 18px;
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
}
.install-main__image{
    display: block;
    width: 284px;
    height: 522px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left:70px;
}
.install-button{
    display: flex;
    column-gap: 28px;
    margin-top:38px;
}
.app-content{
    margin-top: 76px;
    margin-right: 70px;
    margin-bottom: 75px;
    width: 50%;
}
.app-image{
    flex-grow: 1;
}
/* News */
.news{
    padding: 85px 0;    
}
.news-row{
    display: flex;
    column-gap: 130px;
    align-items: center;
}
.news-heading{
    color: var(--main-color);
    font-size: 50px;
    font-weight: 600;
    line-height: 60px; /* 120% */
}
.news-link{
    margin-top: 28px;
    color: var(--main-color);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    text-decoration-line: underline;
}
.news-button{
    margin-top: 28px;
    display: flex;
    column-gap : 18px;
}
.news-media{
    width: 49%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
}
.news__image{
    display: block;
    width: 100%;
    object-fit: cover;
    height: 172px;
    border-radius: 12px 12px 0 0;
}
.news-content{
    width: 40%;
}
.news-title{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 26px; /* 162.5% */
}
.news-text{
    margin-top: 10px;
    color: var(--text-color-2);
    font-size: 14px;
    font-weight: 300;
    line-height: 24px; /* 171.429% */
}
.news__block{
    border-radius: 12px;
    border: 1px solid #E8EBEE;
    background: #FFF;
}
.news-block__link{
    display: inline-block;
    color: var(--main-color);
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
}
.news-meadia__text{
    padding: 18px 21px;
}